[user]
    name = Marc-Antoine Perennou
    email = Marc-Antoine@Perennou.com
    signingkey = 775A60686C2127CD1E1F32A29F8EE9FBFC9F3D4D
[alias]
    co = commit -sm
    br = checkout -b
    st = status -s
    amend = commit -s --amend -C HEAD
    ca = commit -s --amend
    pa = patch -M -C -C
    rc = rebase --continue
    edit = !vim
    pe = format-patch -M -C --find-copies-harder --stdout
    pr = pull --rebase --prune --stat
    repomv = log --pretty=email --patch-with-stat --reverse --
[color]
    ui = auto
[diff]
    renames = copy
    renameLimit = 16536
[core]
    excludesfile = /home/keruspe/.gitignore
    editor = vim
[url "git+ssh://git@gitlab.gnome.org/GNOME/"]
    insteadOf = gnome:
[url "git://git.gnome.org/"]
    insteadOf = oldgnome:
[url "git+ssh://marcop@git.gnome.org/git/"]
    pushInsteadOf = oldgnome:
[url "git://git.imagination-land.com/"]
    insteadOf = home:
[url "git+ssh://git@git.imagination-land.com/"]
    pushInsteadOf = home:
[url "git+ssh://git@gitlab.corp.clever-cloud.com/clever-cloud/"]
    insteadOf = clever:
[url "git://github.com/"]
    insteadOf = github:
[url "git+ssh://git@github.com/"]
    pushInsteadOf = github:
[url "git://anongit.gentoo.org/"]
    insteadOf = gentoo:
[url "git+ssh://git@git.gentoo.org/"]
    pushInsteadOf = gentoo:
[url "git+ssh://git@git.exherbo.org/"]
    pushInsteadOf = exherbo:
[url "git://git.exherbo.org/"]
    insteadOf = exherbo:
[url "git+ssh://Keruspe@galileo.mailstation.de:29418/"]
    insteadOf = exh-gerrit:
[merge]
    renamelimit = 4096
    ff = false
    summary = true
[sendemail]
    smtpencryption = tls
    smtpserver = smtp.gmail.com
    smtpuser = keruspe
    smtpserverport = 587
    suppresscc = self
    chainreplyto = true
[push]
    default = simple
[gitreview]
    username = Keruspe
[transfer]
    fsckobjects = true
[fetch]
    fsckobjects = true
[receive]
    fsckObjects = true
[log]
	mailmap = true
[help]
	autoCorrect = 3
