[Unit]
Description=GNOME Settings Daemon
IgnoreOnIsolate=true

[Service]
Environment=DESKTOP_SESSION=gnome
BusName=org.gnome.SettingsDaemon
ExecStart=/usr/libexec/gnome-settings-daemon
Restart=always

[Install]
WantedBy=gnome.target
Alias=dbus-org.gnome.SettingsDaemon.service
