
[Unit]
Description=The GNOME session manager
After=xorg.target
Requires=dbus.socket

[Service]
Environment=DESKTOP_SESSION=keruspe
BusName=org.gnome.SessionManager
ExecStart=/usr/bin/gnome-session --session=gnome-dummy -a /dev/null
Restart=on-failure

[Install]
WantedBy=gnome.target
Alias=dbus-org.gnome.SessionManager.service
