[Unit]
Description=GNOME Shell
After=gnome-keyring.service gnome-settings-daemon.service gnome-session.service

[Service]
BusName=org.gnome.Shell
ExecStart=/usr/bin/gnome-shell
KillMode=process
Restart=always
RestartSec=1

[Install]
Alias=dbus-org.gnome.Shell.service
WantedBy=default.target
