[Unit]
Description=GPaste daemon
After=xorg.service

[Service]
BusName=org.gnome.GPaste
ExecStart=/usr/libexec/gpaste/gpasted

[Install]
WantedBy=session.target
Alias=dbus-org.gnome.GPaste.service
