[Unit]
Description=ibus
After=dbus.socket
Requires=dbus.socket

[Service]
ExecStartPre=/usr/bin/systemctl --user set-environment GTK_IM_MODULE=ibus
ExecStartPre=/usr/bin/systemctl --user set-environment QT_IM_MODULE=ibus
ExecStart=/usr/bin/ibus-daemon --xim
ExecStartPost=/usr/bin/systemctl --user set-environment XMODIFIERS=@im=ibus

[Install]
WantedBy=default.target

