[Unit]
Description=OfflineIMAP Service
Requisite=network.target

[Service]
Type=simple
ExecStart=/usr/bin/offlineimap -o

[Install]
WantedBy=default.target
